<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-box">
        <div class="header">
          <h2 class="pull-left"><i class="fa fa-building"></i><span>Classes</span></h2>
          <%= link_to "New", new_admin_branch_class_path, class: "btn btn-primary pull-right"%>
        </div>
        <div class="content table-responsive table-full-width">
          <% @branch_classes.each do |branch_class|%>
            <div class="col-sm-4 text-center">
              <div class="custom-card">
                <h3><%= branch_class.name %></h3>
                <div class="show-pages">
                  <%= link_to admin_branch_class_subjects_path(branch_class), class: "btn btn-danger btn-xs" do %>
                    Subjects
                  <% end %>
                  <%= link_to admin_branch_class_sections_path(branch_class), class: "btn btn-primary btn-xs" do %>
                    Sections 
                  <% end %>
                  <%= link_to edit_admin_branch_class_path(branch_class), class: "btn btn-xs btn-success" do %>
                    Edit  
                  <% end%>
                  <%= link_to admin_branch_class_path(branch_class), class: "btn btn-xs btn-danger", method: :delete do %>
                    Delete 
                  <% end%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
