<%= form_for [:admin, @branch_class, @section], html:{class:"form-horizontal", "data-parsley-validate" => true } do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label">Section Name :</label>
    <div class="controls">
      <%= f.select :section, Section.sections.map{|key, value| [key.titleize, key] if !@branch_class&.sections&.pluck(:section).include? key && @section.id.blank? }.compact, {prompt: "<---Select Section--->"}, class: "form-control", class: "span11",required: true, "aria-required" => true %>
    </div>
  </div>
  <div class="form-actions"> 
    <%= f.submit "Submit", class: "btn btn-success" %>
    <%= link_to "Back", admin_branch_classes_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
