<%= form_for [:admin, @branch], html:{class:"form-horizontal", "data-parsley-validate" => true } do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">School: </label>
    <div class="controls">
      <%= f.select :school_id, options_for_select(@schools.collect { | school | [school.name, school.id] }), { prompt: "<--- Select School --->"}, class: "form-control", class: "span11", required: true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Branch Name: </label>
    <div class="controls">
      <%= f.text_field :branch_name, class: "form-control", class: "span11", placeholder: "Enter branch Name",required: true, "aria-required" => true %>
    </div>
  </div>

  <div class="control-group">
   <label class="control-label">Cover Image: </label>
    <div class="controls">
      <%= f.file_field :cover, class: "form-control", class: "span11", required: @branch.cover.blank?, "aria-required" => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">City: </label>
    <div class="controls">
      <%= f.text_field :city, class: "form-control", class: "span11", placeholder: "Enter branch city", required: true, "aria-required" => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Address: </label>
    <div class="controls">
      <%= f.text_field :address, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Status: </label>
    <div class="controls">
      <%= f.select :status, Branch.statuses.map{|key, value| [key.titleize, key ]}, {}, class: "form-control", class: "span11", "aria-required" => true %>
    </div>
  </div>
  <div class="form-actions"> 
    <%= f.submit "Submit", class: "btn btn-success" %>
    <%= link_to "Back", admin_branches_path, class: "btn btn-primary pull-right" %>
  </div>
<% end %>