<table class="table table-bordered table-stripped">
  <thead>
    <th>Student Name</th>
    <th>Fee Submition Status</th>
  </thead>
  <tbody>
    <% @students.each do |st| %> 
      <% if st.user_fee&.pluck(:month).include? params[:year_month].to_date %>
        <tr>
          <td>
            <%= st.full_name %>
          </td>
          <td>
            <p class="btn btn-success">Submitted</p>
          </td>     
        </tr>
      <% end %>
    <% end %>
    <% if @user_feeses.present? %>
      <%= form_tag admin_branch_class_section_user_fees_path(@branch_class, @section), html:{ class: "form-horizontal" } do |f| %>
      <% @user_feeses.each do |user_fees| %>
        <%= fields_for 'user_feeses[]', user_fees do |f| %>
          <tr>
            <td><%= user_name(user_fees.user_id)%> :</td>
            <td><%= f.select :status, UserFee.statuses.map{|key, value| [key.titleize, key ]}, {}, class: "form-control", class: "span11", "aria-required" => true %>
              <%= f.hidden_field :user_id, value: user_fees.user_id %>
              <%= f.hidden_field :fee_month, value: user_fees.month %></td>
          </tr>
        <% end %>
      <% end %>
      <div class="form-actions">
        <%= submit_tag %>
      </div>
      <% end %>
    <% end %>
  </tbody>
</table>

