<%= form_for [:admin, @branch, @branch_owner], html:{class:"form-horizontal", "data-parsley-validate" => true } do |ff| %>

    <div class="control-group">
      <label class="control-label">First Name: </label>
      <div class="controls">
        <%= ff.text_field :first_name, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Last Name: </label>
      <div class="controls">
        <%= ff.text_field :last_name, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Email: </label>
      <div class="controls">
        <%= ff.email_field :email, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Mobile Number: </label>
      <div class="controls">
        <%= ff.text_field :mobile_number, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Role: </label>
      <div class="controls">
        <%= ff.select :role, User.roles.map{|key, value| [key.titleize, key ]}, {prompt: "<----- select role ----->"}, class: "form-control", class: "span11", "aria-required" => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Status: </label>
      <div class="controls">
        <%= ff.select :status, User.statuses.map{|key, value| [key.titleize, key ]}, {prompt: "<----- select Status ----->"}, class: "form-control", class: "span11", "aria-required" => true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password: </label>
      <div class="controls">
        <%= ff.password_field :password, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true, autocomplete: "off" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password Confirmation: </label>
      <div class="controls">
        <%= ff.password_field :password_confirmation, class: "form-control", class: "span11", placeholder: "Enter branch address", required: true, "aria-required" => true, autocomplete: "off" %>
      </div>
    </div>
    <div class="form-actions">
        <%= ff.submit "Submit", class: "btn btn-success" %>
        <%= link_to "Back", admin_branches_path, class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
