<table class="table table-striped">
  <thead>
    <th>Class</th>
    <th>Section</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Role</th>
  </thead>
  <tbody>
    <% @class_section&.users.each do |user|%>
      <tr>
        <td><%= @class_section.branch_class.name %></td>
        <td><%= @class_section.section %></td>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>